html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

img.background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  }

.navbar-nodaisy {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    background: transparent;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    gap: 5rem;
}

.nav-links a {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;

    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: black;
}

.logo {
    cursor: default;
    font-size: 5rem;
    color: white;
    font-family: "Ruslan Display", cursive;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    color: #f5f5f5;
    text-shadow: 0 0 10px #f5f5f5, 0 0 20px #f5f5f5, 0 0 40px #f5f5f5,
        0 0 80px #f5f5f5, 0 0 120px #f5f5f5, 0 0 200px #f5f5f5,
        0 0 300px #f5f5f5, 0 0 400px #f5f5f5;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    margin: 0.7rem;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    scale: 1.1;
}

h1,
h2,
p {
    color: #ffff;
}

.card-body h1 {
    font-size: 2rem !important;
}

.card-title {
    margin-bottom: 2rem;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5rem;
}
